{% extends 'base.html' %}

{% block content %}
   
    
        <!-- Navbar & Hero Start -->
        {% include 'header.html' %}
        <!-- Navbar & Hero End -->

        <!-- About Start -->
        {% include 'about.html' %}
        <!-- About End -->

        <!-- Services Start -->
        {% include 'services.html' %}

        <!-- Footer Start -->
        {% include 'footer.html' %}
        <!-- Footer End -->
        
        <!-- Copyright Start -->
        <div class="container-fluid copyright text-body py-4">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-md-6 text-center text-md-end mb-md-0">
                        <i class="fas fa-copyright me-2"></i><a class="text-white" href="#">TourSite</a>, All right reserved.
                    </div>
                   
                    
                </div>
            </div>
        </div>
        <!-- Copyright End -->
     
        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>    -->
        {% endblock %}
