<div id="services" class="container-fluid bg-light service py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Services</h5>
            <h1 class="mb-0">Our Services</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Booking and Payments</h5>
                                <p class="mb-0"> 
                                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque iusto accusamus eveniet consequatur nemo cumque aperiam ratione maiores, cum incidunt. Minus hic id blanditiis expedita, iste excepturi accusamus suscipit quod.
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-paper-plane fa-4x text-primary"></i>
                            </div>
                        </div>
                    </div>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                            <div class="service-icon p-4">
                                <i class="fa fa-cogs fa-4x text-primary"></i>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Personalized Recommendations</h5>
                                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit voluptatum, accusantium saepe molestiae sequi laborum earum rerum facere sapiente dolore deleniti et adipisci facilis dignissimos recusandae dolores, quae tempora itaque?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                            <div class="service-icon p-4">
                                <i class="fa fa-headset fa-4x text-primary"></i>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Customer Support </h5>
                                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae consequuntur mollitia esse, eaque est dolorum nemo harum ipsa voluptates amet facilis eos. Enim quidem possimus accusantium similique a repudiandae sequi!
                                </p>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
           
        </div>
    </div>
</div>